<p>Name: <%= entry.name %><p>
<p>Tags: <%= entry.tags.join(", ") %></p>
<p>Description: <%= sanitize entry.description %></p>
<p>Children:<br />
	<% entry.children.each do |child| %>
		<%= link_to child[:name], entry_path(child), remote: true %><br />
	<% end %>
</p>
<%= form_for(entry, html: { method: :delete }, remote: true) do |f| %>
  <%= f.submit "Delete", class: "btn btn-large" %>
<% end %>
<%= button_to "Edit", edit_entry_path(entry), method: "get", remote: true %>
<%= button_to "New Child", new_entry_path(id: entry.id), 
							method: "get", remote: true %>
